@import 'tailwindcss';

:root {
  --font-main: var(--font-manrope), sans-serif;

  --col-green: #30F68A;
  --col-yellow: #FBD207;
  --col-cyan: #82F2EB;
  --col-red: #F5090D;

  --col-bg-main: #000000;
  --col-bg-sec: #444444;
  --col-bg-purp: #1c0c33;

  --col-text: #EBE6D7;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: var(--col-bg-main);
  color: var(--col-text);
  font-family: var(--font-main);

  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}