.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;

    /*width: 100%;*/
    font-size: 1rem;
    font-weight: 500;

    margin: 1rem 1rem;
}

.input {
    align-self: center;
    justify-self: center;

    width: 100%;
    height: 3.5rem;
    padding: 0 1.5rem;

    border: 1px solid var(--col-bg-sec);
    background-color: transparent;
    color: var(--col-text);

    border-radius: 0;
    transition: border 0.1s ease-in-out 0s;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--col-bg-main) inset;
    -webkit-text-fill-color: var(--col-text);
    caret-color: var(--col-text);
}
.input:focus {
    outline: none;
    border-color: var(--col-text);
    border-left-width: 6px;
    padding-left: calc(1.5rem - 6px);
    background-color: rgba(130, 242, 235, 0.05);
}
.inputError {
    border-color: var(--col-red);
}

.label {
    text-transform: uppercase;
    position: absolute;
    top: -12px;
    left: 1rem;
    padding: 0 0.5rem;
    background: var(--col-bg-main);
}

.errorMessage {
    padding-top: 0.3rem;
    font-weight: 400;
    text-transform: uppercase;
    font-size: .8rem;
    color: var(--col-red);
}